.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
}

.avatar .avatar-wrapper {
    width: 100%;
    height: 100%;
}

.avatar .avatar-wrapper svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.avatar .avatar-wrapper svg path {
    fill: #fff;
}